@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
display: flex;
align-items: start;
padding: 0 10px;
justify-content: left;
height: 100vh;
background: linear-gradient(45deg,#515BD4,#8134AF, #DD2A7B,  #F58529 );
}
.main{
    display: flex;
}
.wrapper{
width: 400px;
/* max-width: 300px; */
height: 500px;
background: #fff;
border-radius: 10px;
box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
display: flex;
align-items: center;
padding: 25px 30px 10px;
justify-content: space-between;
}
header .icons{
display: flex;
}
header .icons span{
height: 38px;
width: 38px;
margin: 0 1px;
cursor: pointer;
color: #878787;
text-align: center;
line-height: 38px;
font-size: 1.9rem;
user-select: none;
border-radius: 50%;
}
.icons span:last-child{
margin-right: -10px;
}
header .icons span:hover{
background: #f2f2f2;
}
header .current-date{
font-size: 1.45rem;
font-weight: 500;
}
.calendar{
padding: 20px;
}
.calendar ul{
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;
}
.calendar .days{
margin-bottom: 20px;
}
.calendar li{
color: #333;
width: calc(100% / 7);
font-size: 1.07rem;
}
.calendar .weeks li{
font-weight: 500;
cursor: default;
}
.calendar .days li{
z-index: 1;
cursor: pointer;
position: relative;
margin-top: 30px;
}
.days li.inactive{
color: #aaa;
}
.days li.active{
color: #fff;
}
.days li::before{
position: absolute;
content: "";
left: 50%;
top: 50%;
height: 40px;
width: 40px;
z-index: -1;
border-radius: 50%;
transform: translate(-50%, -50%);
}
.days li.active::before{
    background: linear-gradient(45deg,#515BD4,#8134AF, #DD2A7B,  #F58529 );
}
.days li:not(.active):hover::before{
background: #f2f2f2;
}
.daybox {
    margin-top: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    max-width: 400px;
}
.happy {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}
.emoji {
    font-size: 48px;
    vertical-align: middle;
}
.date-time {
    font-size: 18px;
    color: #888;
    margin-top: 10px;
}

.quotecontainer {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 180px;
    margin-top: 20px;
}

#quote {
    font-size: 1em;
    font-weight: bold;
}

#author {
    font-style: italic;
    margin-top: 10px;
}

.quotecontainer button {
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,);
    margin-left: 5px;
}

.quotecontainer button:hover {
    background: #0056b3;
}

#postbtn{
    background-color: #060606;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,);
    margin-left: 5px;
}
#postbtn a{
    color: white;
    text-decoration: none;
}
#postbtn img{
    width: 16px;
}
.weather-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 280px;
    text-align: center;
    position: relative;
}

main{
    width: 300px;
    height: 200px;
    max-height: 200px;
    background-color: #2499d4;
    border-radius: 30px;
    box-shadow: 0 30px 50px #5553;
    box-sizing: border-box;
    margin: 30px;
    margin-top: 40px;
    /* padding: 10px; */
}
main form{
    border: 1px solid #5552;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
}

main form input, 
main form button{
    border: none;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 50px;
}
main form input{
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    color: white;
}
main form i{
    opacity: 0.7;
}
main .result{
    padding-top: 20px;
    text-align: center;
}
main .result .name{
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
main .temperature img{
    width: 150px;
    filter: drop-shadow(0 10px 50px #555);
}
main .temperature figcaption{
    font-size: 3em;
}
main .description{
    padding: 10px 0 30px;
}
main ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
main li{
    background-color: #f78a55;
    color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        #0003 50%
    );
    font-weight: bold;
    font-size: small;
}
main ul li i{
    font-size: 2em;
    margin: 20px 0;
    display: block!important;
}
main li:nth-child(2){
    background-color: #b56291;
}
main li:nth-child(3){
    background-color: #48567b;
}
main.error{
    animation: errorEffect 0.3s linear 1;
}
@keyframes errorEffect{
    0%{
        transform: translate(10px, 5px)
    }
    25%{
        transform: translate(-5px, 0)
    }
    50%{
        transform: translate(8px, 2px)
    }
    75%{
        transform: translate(-2px, 5px)
    }
    100%{
        transform: translate(0, 0); 
    }
}
.bgimg{
    height: 40px;
}
.bgimg img{
    width: 100%;
    border-radius: 10px;
    z-index: -1000;
}
:root {
    --gradient: linear-gradient(
      180deg,
      rgba(250, 171, 183, 0.73) 0%,  /* Baby Pink */
      #ddd6f9 100%  /* Baby Blue */
    );
    --dark: hsl(328, 100%, 59%);
    --grey: #e96cb5;
    --grey-border: rgba(252, 131, 196, 0.75);
    --grey-light: #f6b1c9;
    --grey-dark: #a855f6;
    --blue: #f96893;
    --green: #f23971;
    --white: #ffffff;
  }
  
  /* body {
    background: var(--gradient);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  } */
  
  .btn {
    color: var(--white);
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    background: linear-gradient(45deg,#515BD4,#8134AF, #DD2A7B,  #F58529 );
    border: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
  
  
  /* Todo Container */
  
  .todo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background: var(--white);
    padding: 3rem;
    height: 50%;
    width: 400px;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
    max-width: 30rem;
    margin-top: 40px;
  }
  
  .todo h2 {
    text-transform: uppercase;
    height: 3rem;
    text-align: center;
    font-family: "Kranky", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
  }
  
  .input {
    position: relative;
    display: flex;
  }
  
  .input-field {
    width: 100%;
    border: 0.08rem solid #090808bf;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
  }
  
  .todo input[type="text"]::placeholder {
    color: black;
  }
  
  .todo-container {
    display: flex;
    gap: 1rem;
  }
  
  .todo ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
  }
  
  .todo li {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.3rem;
    font-family: "Unkempt", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  
  #todoList p {
    display: flex;
    gap: 1rem;
    color: var(--dark);
    align-items: center;
  }
  
  #todoList .disabled {
    color: #8f98a8;
  }
  
  .disabled {
    display: flex;
    text-decoration: line-through;
  }
  
  .todo input[type="checkbox"] {
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor:pointer;
  }
  
  .todo input[type="checkbox"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid var(--grey-border);
    border-radius: 50%;
    color: transparent;
  }
  
  .todo input[type="checkbox"]:checked::before {
    color: var(--white);
    background: linear-gradient(45deg,#515BD4,#8134AF, #DD2A7B,  #F58529 );
    border: 0.06rem solid var(--green);
    border-radius: 50%;
  }
  
  .counter {
    border: 0.06rem solid black;
  }
  
  .counter-container {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: black;
  }
  
  .counter-container p {
    align-self: center;
  }
  
  .counter-container button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1rem;
  }
  
  .made-by,
  .author {
    font-size: 0.9rem;
    font-family: "Kranky", serif;
    font-weight: bold;
    font-style: normal;
  }
  
  .made-by {
    color: var(--grey-dark);
  }
  
  .author {
    /* color: var(--blue); */
    font-weight: bold;
  }
  
  .scroll {
    height: 15rem;
    scrollbar-width: thin;
  }
  
  .scroll::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    /* background-color: var(--blue); */
    border-radius: 0.5rem;
  }
  
  .scroll::-webkit-scrollbar-track {
    display: none;
  }
  
















  